{{ if .Values.server.config.daily_reboot.enable }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
    name: "{{ .Values.server.config.daily_reboot.role }}"
    namespace: {{ .Release.Namespace }}
rules:
    - apiGroups: ["apps"]
      resources: ["deployments"]
      resourceNames: ["{{ .Release.Name }}-server"]
      verbs: ["get", "patch"]
    - apiGroups: [""]
      resources: ["pods"]
      verbs: ["get", "list"]
    - apiGroups:  [""]
      resources:  ["pods/exec"]
      verbs:  ["create"]
{{ end }}
